
# PlanAhead Generated physical constraints 

NET "o" LOC = F12;
NET "i" LOC = L13;
NET "clk" LOC = K17;
NET "clk50MHz" LOC = C9;

# PlanAhead Generated IO constraints 

NET "i" PULLDOWN;
NET "clk" PULLDOWN;
